<div class="container">
    <div class="d-flex flex-column mb-2">
        <a class="text-decoration-none text-black" href="tel:02652350982">(0265)2350982</a>
        <a class="text-decoration-none text-black" href="mailto:prodibk@umtas.ac.id">prodibk@umtas.ac.id</a>
        <a class="text-decoration-none text-black" href="http://www.umtas.ac.id/">welcome to our university</a>
    </div>
    <div class="row justify-content-between">
        <div class="my-auto col-8">
            <p class="text-muted small align-middle my-auto">&copy; Your Website 2024. All Rights Reserved.</p>
        </div>
        <div class="col-4">
            <ul class="list-inline mb-0 float-end">
                <li class="list-inline-item me-1 me-md-4">
                    <a href="#!"><i class="bi-facebook fs-3"></i></a>
                </li>
                <li class="list-inline-item me-1 me-md-4">
                    <a href="#!"><i class="bi-twitter fs-3"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#!"><i class="bi-instagram fs-3"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>