<nav>
    <div class="navbar-light bg-light static-top">
    <div class="py-3 px-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row justify-content-between w-100">
        <a class="navbar-brand text-uppercase" href="#!">
            <h4 class="fw-bolder" style="font-size: 3vw;">program studi bimbingan dan konseling</h4>
            <h6 class="lead" style="font-size: 2vw;">fakultas keguruan dan ilmu pendidikan</h6>
        </a>
        <form class="d-flex gap-3 h-25" role="search">
            <input class="form-control none" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
    <div class="bg-primary w-100 px-3 py-3">
        <div class="list-unstyled text-capitalize d-flex flex-row flex-wrap gap-3 text-white">
            <li class="nav-item">beranda</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    profile
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../visi-misi.html">visi dan misi</a></li>
                    <li><a class="dropdown-item" href="#">dosen</a></li>
                    <li><a class="dropdown-item" href="#">sarana prasarana</a></li>
                    <li><a class="dropdown-item" href="../dokument-kebijakan.html">dokumen kebijakan</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    akademik
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">laporan kegiatan</a></li>
                    <li><a class="dropdown-item" href="#">e-learning</a></li>
                    <li><a class="dropdown-item" href="#">dosen tamu dan tenaga ahli</a></li>
                    <li><a class="dropdown-item" href="#">kerjasama</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    laboratorium
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">jenis layanan</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    kemahasiswaan
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">siakad</a></li>
                    <li><a class="dropdown-item" href="#">kegiatan mahasiswa</a></li>
                    <li><a class="dropdown-item" href="#">himpunan mahasiswa</a></li>
                    <li><a class="dropdown-item" href="#">prestasi mahasiswa</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    karya ilmiah
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">jurnal penelitian</a></li>
                    <li><a class="dropdown-item" href="#">proceeding</a></li>
                </ul>
            </li>
            <li class="nav-item">karir</li>
            <li class="nav-item">kontak</li>
        </div>
    </div>
</div>
</nav>