<div class="navbar-light bg-light static-top">
    <div class="py-3 px-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row justify-content-between w-100">
        <a class="navbar-brand text-uppercase text-wrap text-center text-md-start" href="/">
            <h4 class="fw-bolder">program studi bimbingan dan konseling</h4>
            <p class="lead" style="font-size: 16px;">fakultas keguruan dan ilmu pendidikan</p>
        </a>
        <form class="d-flex gap-3 h-25" role="search">
            <input class="form-control none" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
    <div class="bg-primary px-3 pt-3">
        <div class="list-unstyled text-capitalize d-flex flex-row flex-wrap gap-3 text-white">
            <a href="/" class="nav-item text-white text-decoration-none">
                beranda
            </a>
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    profile
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../visi-misi.html">visi dan misi</a></li>
                    <li><a class="dropdown-item" href="../dosen.html">dosen</a></li>
                    <li><a class="dropdown-item" href="../sarana-prasarana.html">sarana prasarana</a></li>
                    <li><a class="dropdown-item" href="../dokument-kebijakan.html">dokumen kebijakan</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    akademik
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../laporan-kegiatan.html">laporan kegiatan</a></li>
                    <li><a class="dropdown-item" href="../elearning.html">e-Learning</a></li>
                    <li><a class="dropdown-item" href="../dosen-tamu-dan-tenaga-ahli.html">dosen tamu dan tenaga ahli</a></li>
                    <li><a class="dropdown-item" href="../kerjasama.html">kerjasama</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    laboratorium
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../jenis-layanan.html">jenis layanan</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    kemahasiswaan
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://siakad.umtas.ac.id/">siakad</a></li>
                    <li><a class="dropdown-item" href="../kegiatan-mahasiswa.html">kegiatan mahasiswa</a></li>
                    <li><a class="dropdown-item" href="../hima.html">himpunan mahasiswa</a></li>
                    <li><a class="dropdown-item" href="../prestasi.html">prestasi mahasiswa</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    karya ilmiah
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://journal.umtas.ac.id/index.php/innovative_counseling">jurnal penelitian</a></li>
                    <li><a class="dropdown-item" href="../proceeding.html">proceeding</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="text-white text-decoration-none" href="../karir.html">karir</a>
            </li>
            <li class="nav-item">
                <a class="text-white text-decoration-none" href="../kontak.html">
                    kontak
                </a>
            </li>
        </div>
    </div>
</div>