<div class="static-top navbar-expand-md shadow">
    <div class="py-3 px-4 d-flex flex-column flex-sm-column flex-md-row flex-lg-row justify-content-between w-100">
        <a class="navbar-brand text-uppercase text-wrap text-center text-md-start" href="/">
            <h4 class="fw-bolder">program studi bimbingan dan konseling</h4>
            <p class="lead" style="font-size: 16px;">fakultas keguruan dan ilmu pendidikan</p>
        </a>
        <form class="d-flex gap-3 h-25" role="search">
            <input class="form-control none w-100 shadow" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary shadow" type="submit">Search</button>
        </form>
        <div class="navbar-toggler bg-primary position-absolute p-1 rounded-circle shadow" style="right: 10px;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
            <!-- <span class="navbar-toggler-icon">
            </span> -->
        </div>
    </div>
    <div class="navbar navbar-expand-md bg-primary px-3">
        <div class="mx-auto">
        </div>
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
            <div class="navbar-nav me-auto mb-3 mb-lg-0 list-unstyled text-capitalize text-white">
                <div class="nav-item">
                    <a href="/" class="nav-link text-decoration-none">
                        beranda
                    </a>
                </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        profile
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../sejarah.html">sejarah</a></li>
                        <li><a class="dropdown-item" href="../visi-misi.html">visi dan misi</a></li>
                        <li><a class="dropdown-item" href="../dosen.html">dosen</a></li>
                        <li><a class="dropdown-item" href="../sarana-prasarana.html">sarana prasarana</a></li>
                        <li><a class="dropdown-item" href="../dokument-kebijakan.html">dokumen kebijakan</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        akademik
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../laporan-kegiatan.html">laporan kegiatan</a></li>
                        <li><a class="dropdown-item" href="../elearning.html">e-Learning</a></li>
                        <li><a class="dropdown-item" href="../dosen-tamu-dan-tenaga-ahli.html">dosen tamu dan tenaga ahli</a></li>
                        <li><a class="dropdown-item" href="../kerjasama.html">kerjasama</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        laboratorium
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../laboratorium.html">laboratorium</a></li>
                        <li><a class="dropdown-item" href="../jenis-layanan.html">jenis layanan</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        kemahasiswaan
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="http://siakad.umtas.ac.id/">siakad</a></li>
                        <li><a class="dropdown-item" href="../kegiatan-mahasiswa.html">kegiatan mahasiswa</a></li>
                        <li><a class="dropdown-item" href="../hima.html">himpunan mahasiswa</a></li>
                        <li><a class="dropdown-item" href="../prestasi.html">prestasi mahasiswa</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        karya ilmiah
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://journal.umtas.ac.id/index.php/innovative_counseling">jurnal penelitian</a></li>
                        <li><a class="dropdown-item" href="../proceeding.html">proceeding</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-decoration-none" href="../kontak.html">
                        kontak
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>