<div class="card my-3 shadow">
    <div class="card-header text-capitalize bg-primary text-white">
        post post terbaru
    </div>
    <div class="card-body text-start">
        <ul style="font-size: 12px;">
            <li>Kerjasama dan Implementation Agreement</li>
            <li>WISUDA KE-11 PRODI BK UMTAS</li>
            <li>Workshop</li>
            <li>Jadwal Mata Kuliah Program Studi Bimbingan dan Konseling T.A 2020-2021</li>
            <li>Pemberitahuan Perkuliahan</li>
        </ul>
    </div>
</div>
<div class="card my-3 shadow">
    <div class="card-header bg-primary text-white text-capitalize">
        Arsip
    </div>
    <div class="card-body">
        <ul class="" style="font-size: 12px;">
            <li>Mei 2024</li>
            <li>Maret 2024</li>
            <li>Februari 2024</li>
            <li>September 2020</li>
            <li>April 2020</li>
            <li>Desember 2018</li>
            <li>Februari 2018</li>
            <li>November 2017</li>
            <li>September 2017</li>
            <li>Mei 2017</li>
            <li>April 2017</li>
            <li>September 2016</li>
        </ul>
    </div>
</div>
<div class="card my-3 text-center shadow" style="font-size: 12px;">
    <div class="card-header bg-primary text-white">
        18 Juni 2024
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S</th>
                    <th scope="col">S</th>
                    <th scope="col">R</th>
                    <th scope="col">K</th>
                    <th scope="col">J</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td class="bg-primary text-white">18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>