<div class="card my-3">
    <div class="card-header">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="card-body">
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Sunt magnam ex perspiciatis blanditiis.</li>
            <li>Magni unde ullam et adipisci?</li>
            <li>Blanditiis, modi consequuntur! Dolorem, ipsa.</li>
            <li>Quas ut consectetur expedita itaque.</li>
        </ul>
    </div>
</div>
<div class="card my-3">
    <div class="card-header">
        Lorem ipsum dolor sit amet.
    </div>
    <div class="card-body">
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Sunt magnam ex perspiciatis blanditiis.</li>
            <li>Magni unde ullam et adipisci?</li>
            <li>Blanditiis, modi consequuntur! Dolorem, ipsa.</li>
            <li>Quas ut consectetur expedita itaque.</li>
        </ul>
    </div>
</div>
<div class="card my-3 text-center">
    <div class="card-header">
        selasa 18 juni 2024
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S</th>
                    <th scope="col">S</th>
                    <th scope="col">R</th>
                    <th scope="col">K</th>
                    <th scope="col">J</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>